<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Huella de Carbono</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5" style="height: 370px;">
                                    <div class="selector-inicio">
                                        <form id="botones" class="user" onsubmit="return false">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Huella de Carbono</h1>
                                            </div>
                                            <input type="submit" class="btn btn-primary btn-user btn-block"
                                                onclick="mostrarMiembro()" value="Ingreso miembros">
                                            <input type="submit" class="btn btn-primary btn-user btn-block"
                                                onclick="mostrarOrganizacion()" value="Ingreso organizaciones">
                                            <input type="submit" class="btn btn-primary btn-user btn-block"
                                                onclick="mostrarAgente()" value="Ingreso agentes sectoriales">
                                        </form>
                                    </div>
                                    <!-- INICIO FORMULARIO MIEMBRO-->
                                    <div id="miembro" style="display: none;">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Ingreso miembros</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="mail-miembro" aria-describedby="emailHelp"
                                                    placeholder="Ingrese su usuario">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="contraseña-miembro" placeholder="Ingrese su contraseña">
                                            </div>
                                            <a href="MiembroDatosPersonales.html"
                                                class="btn btn-primary btn-user btn-block">
                                                Iniciar sesión
                                            </a>
                                        </form>
                                    </div>
                                    <!--FIN FORMULARIO MIEMBRO-->
                                    <!-- INICIO FORMULARIO ORG-->
                                    <div id="organizacion" style="display: none;">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Ingreso organizaciones</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="mail-organizacion" aria-describedby="emailHelp"
                                                    placeholder="Ingrese su usuario">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="constraseña-organizacion" placeholder="Ingrese su contraseña">
                                            </div>
                                            <a href="OrgRecomendaciones.html"
                                                class="btn btn-primary btn-user btn-block">
                                                Iniciar sesión
                                            </a>
                                        </form>
                                    </div>
                                    <!--FIN FORMULARIO ORG-->
                                    <!-- INICIO FORMULARIO AGENTE-->
                                    <div id="agente-sectorial" style="display: none;">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Ingreso agentes sectoriales</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="mail-agente-sectorial" aria-describedby="emailHelp"
                                                    placeholder="Ingrese su usuario">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="contraseña-agente-sectorial"
                                                    placeholder="Ingrese su contraseña">
                                            </div>
                                            <a href="AgenteRecomendaciones.html"
                                                class="btn btn-primary btn-user btn-block">
                                                Iniciar sesión
                                            </a>
                                        </form>
                                    </div>
                                    <!--FIN FORMULARIO AGENTE-->
                                    <br>
                                    <div id="atras" style=" text-align:center; display:none">
                                        <a href="#" class="btn btn-primary btn-user btn-circle" onclick="mostrarSelector()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Custom scripts for all pages-->
    <script src="../static/boostrap/js/sb-admin-2.min.js"></script>
    <script src="script.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>

</html>